* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
}

nav {
    position: fixed;
    /* background-color: rgb(0, 255, 68); */
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1 {
    font-size: 1.6vw;
}

.nav-part2 {
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    position: relative;
    z-index: 10;
    cursor: pointer;
}

.nav-part2 h4 {
    font-size: 0.73vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5 {
    margin-bottom: 1vw;
    /* background-color: red; */
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span {
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

.nav-part2 h4:hover{
    color: #636363;
}

.nav-part2 h5 span:hover{
    color: #636363;
}

nav button {
    background-color: #0BA34E;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 50px;
    border: none;
}

nav button svg {
    height: 0.8vw;
    margin-left: 1.6vw;
}

#nav-bottom {
    width: 79%;
    height: 0vh;
    position: absolute;
    /* background-color: red; */
    top: 100%;
    background-color: #111;
    z-index: 9;
    border-bottom: 1px solid #fff;
}




#page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page1 h1 {
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}

#page1 h1 svg {
    height: 6vw;
    border-radius: 50%;
    width: 6vw;
    background-color: #0BA34E;
    border: 3px solid #0BA34E;
    transition: all ease-in-out 0.1s;
}

#page1 h1 svg:hover{
    background-color: transparent;
}

#page1 p {
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
    font-size: 1vw;
}

#page1-something {
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-something h4 {
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-top: 0.5vw;
    padding: 9px 18px;
    border: 1px solid hsl(0, 0%, 65%);
    border-radius: 50px;
}

#page1-something h4:nth-last-child(2) {
    /* background-color: red; */
    border: none;
    padding: 2px;
}

#moving-div{
    margin-top: 10vh;
    position: absolute;
    bottom: 3%;
    width: 44%;
    white-space: nowrap;
    padding: 2vw;
    overflow: hidden;
}

#moving-div .move{
    display: inline-block;
    animation-name: mobe;
    animation-duration: 9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-div .move img{
    height: 2.5vw;
    margin: 0.7vw;
    filter: grayscale(100%) brightness(1000%);
    filter: brightness(0) invert(1);
}

@keyframes mobe {
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
    
}

#blur-left{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right ,#111, transparent);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#blur-right{
    height: 100%;
    width: 20%;
    background: linear-gradient(to right ,transparent,#111);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
}

#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1.5px solid #333;
    justify-content: space-between;
}

#page2-left{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0vw;
}

#page2-left p{
    font-size: 0.8vw;
}

#page2-left h5{
    width: 75%;
    font-size: 1.1vw;
    font-weight: 400;
}

#page2-right{
    height: 100%;
    width: 50%;
}

.right-elem{
    position: relative;
    padding-top: 2vw;
    padding-bottom: 5vw;
    border-bottom: 1px solid #333;
}

.right-elem h2{
    font-size: 1.4vw;
    font-weight: 400;
}

.right-elem img{
    height: 7vw;
    width: 7vw;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
    opacity: 0;
    scale: 0;
}


#page3{
    height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    background-image: url(https://cdn.prod.website-files.com/64a2ab71942e1d57feb6fe39/676432adf4f5e642507e507b_showreel_preview_still_v3.webp);
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#page3-center{
    display: flex;
    align-items: center;
    padding: 1vw;
    flex-direction: column;
}

#page3-center .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3.3vw;
    border-radius: 50%;
    background-color: white;
    font-size: 4vw;
}

#page3-center .icon i{
    color: #111;
    font-size: 2.8vw;
}

#page3-center h5{
    font-size: 0.8vw;
    background-color: #fff;
    color: #111;
    border-radius: 50px;
    margin-top: 0.5vw;
    padding: 12px 26px 10px 26px;
    font-weight: 700;
    opacity: 0;
    transition: all ease 0.5s;
    text-transform: uppercase;
    transform: translateY(10%);
}

#page3-center:hover h5{
    opacity: 1;
    transform: translateY(0%);
}

#page3 video{
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    transform: scaleX(0.77) scaleY(0);
    opacity: 0;
    border-radius: 30px;
    z-index: 9999;
}

/* ----------------page4---------- */


/* #page4{
    height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    padding: 0vw 10.5vw;
    padding-bottom: 8vw;
    display: flex;
    align-items: center;
    border-top: 1.5px solid #333;
    justify-content: space-between;
}

#page4 .left{
    background-color: #333;
    margin-top: 8vw;
    height: 100%;
    width: 35%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0vw;
}

#page4 .right{
    background-color: #333;
    margin-top: 8vw;
    height: 100%;
    width: 55%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 3vw 0vw;
} */


/* -----------page5--------- */

#page5{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    position: relative;
    color: #fff;
    padding-bottom: 10vh;
}

.section{
    width: 100%;
    height: 72vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13vh 10vw;
    padding-bottom: 0;
}

.sec-left{
    height: 100%;
    width: 25%;
    padding-top: 3vh;
    border-top: 2px solid #000;
}

.sec-left h2{
    font-size: 2.1vw;
    font-weight: 500;
    color: #000;
}

.sec-left p{
    color: #000;
    margin-top: 10vh;
    font-size: 1.2vw;
    width: 80%;
}

.sec-right{
    height: 100%;
    width: 70%;
    background-color: blueviolet;
    position: relative;
}

.sec-right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.sec-right video{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    opacity: 0;
    transition: opacity ease 0.1s;
}



/* ----------------------page6----------------*/


#page6{
    min-height: 100vh;
    width: 100%;
    background-color: #111;
    position: relative;
    padding: 5vh 10.5vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#page6 button{
    background-color: #0BA34E;
    padding: 0.9vw 2.5vw;
    font-size: 1vw;
    border-radius: 50px;
    border: none;
    position: sticky;
    top: 15%;

}

#page6-right{
    width: 70%;
}

#page6-right>p{
    font-size: 2.1vw;
}

#page6-right>p span{
    width: 15vw;
    display: inline-block;
}

#page6-content{
    width: 100%;
    margin-top: 5vh;
    padding: 5vh 0;
}

#page6-content h1{
    font-size: 3vw;
    font-weight: 500;
}

#page6-content #flex{
    display: flex;
    margin-top: 4vh;
    margin-bottom: 4vh ;
}

#page6-content #flex h4{
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-weight: 400;
    font-size: 0.8vw;
}

.page6-elem{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 3vh;
    padding-bottom: 7vh;
    position: relative;
    overflow: hidden;
    border-top: 2px solid #333;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page6-elem p{
    width: 55%;
    font-size: 0.8vw;
    position: relative;
    z-index: 8;
}

.page6-elem h3{
    font-size: 1.5vw;
    font-weight: 400;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.page6-elem i{
    font-size: 1vw;
    position: relative;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
    z-index: 8;
}

.over6{
    height: 100%;
    width: 100%;
    background-color: #222;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}

.page6-elem:hover h3{
    padding-left: 2vw;
}

.page6-elem:hover i{
    padding-right: 1vw;
}

.page6-elem:hover .over6{
    transform: translateY(0);
    opacity: 1;
}

.page6-elem:hover{
    border-top: 2px solid #fff;
}

summary::marker{
    content: "";
}

.uiux{
    border-top: 1px solid #fff;
    padding: 3vh 0;
}

.product{
     border-top: 1px solid  #fff;
     padding: 3vh 0;
}

/* --------------page7---------------- */

#page7{
    min-height: 100vh;
    width: 100%;
    background-color: #fff;
    padding: 10vh 10vw;
}

#page7>h1{
    font-size: 5.5vw;
    color: #000;
    padding-left: 23vw;
    padding-right: 5vw;
    line-height: 5.8vw;
    padding-bottom: 10vh;
    border-bottom: 1px solid #dadada;
}

#page7-content{
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vh 0;
}

#page7-content #right-7{
    width: 70%;
}

#page7-content #right-7 p{
    font-size: 1.5vw;
    color: #000;
    margin-bottom: 5vh;
    width: 80%;
}

#blue-btn{
    background-color: #4f5bff;
    width: 15vw;
    height: 3.5vw;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#blue-btn h4{
    position: absolute;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.85vw;
}

#blue-btn h4 i{
    font-size: 1.1vw;
    font-weight: 100;
    margin-left: 0.5vw;
}

#page7-bottom{
    height: 44vh;
    width: 100%;
    border-top: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#btm7-part1{
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
}

#btm7-part2{
    border-right: 1px solid #dadada;
    width: 28%;
    height: 100%;
}

#btm7-part3{
    border-right: 1px solid #dadada;
    width: 15%;
    height: 100%;
}

#btm7-part4{
    border-right: 1px solid #dadada;
    width: 30%;
    height: 100%;
}

#btm7-part5{
    width: 15%;
    height: 100%;
}

.btm7-parts{
    padding: 3vh 0.6vw;
}

.btm7-parts h5{
    color: #000;
    font-weight: 500;
    font-size: 0.85vw;
    margin-bottom: 4vh;
}

.btm7-parts h4{
    background-color: #111;
    width: 75%;
    padding: 5px 10px;
    margin-bottom: 0.3vh;
    border-radius: 50px;
    font-size: 0.85vw;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.btm7-parts h4 span{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5vw;
    height: 1.5vw;
    background-color: #333;
    padding: 1vw;
    border-radius: 50%;
    margin-right: 1vw;
}

#btm7-part2 h4:nth-child(2){
    transform: translateX(0);
}

#btm7-part2 h4:nth-child(3){
    transform: translateX(10%);
}

#btm7-part2 h4:nth-child(4){
    transform: translateX(20%);
}

#btm7-part2 h4:nth-child(5){
    transform: translateX(30%);
}

#btm7-part2 h4:nth-child(6){
    transform: translateX(40%);
}

#btm7-part2 h4:nth-child(7){
    transform: translateX(50%);
}


#page8{
    height: 100vh;
    background-color: #000;
}