*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html, body{
    height: 100%;
    width: 100%;
}

nav{
    position: fixed;
    display: flex;
    align-items: flex-start;
    height: 12vh;
    width: 100%;
    padding: 2vw 10.4vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;
}

nav h1{
    font-size: 1.6vw;
    gap: 2vw;
    align-items: flex-start;

}

.nav-part2{
    display: flex;
    gap: 2vw;
    align-items: flex-start;
    padding: 1vh 0;
    /* position: relative;
    z-index: 10; */
}

.nav-part2 h4{
    font-size: 0.76vw;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.6vw;
}

.nav-part2 h5{
    margin-bottom: 1vw;
}

.nav-part2 h5 span{
    font-size: 0.68vw;
    font-weight: 400;
}

.nav-part2 h5{
    margin-bottom: 1vw;
    display: none;
    overflow: hidden;
}

.nav-part2 h5 span{
    font-size: 0.77vw;
    font-weight: 400;
    transform: translateY(25px);
    display: inline-block;
}

nav:hover #nav-bottom{
    height: 150%;
    bottom: -150%;
    background-color: #111;
}

#nav-bottom{
    height: 0%;
    position: absolute;
    width: 79%;
    transition: all ease 0.65s;
    bottom: 0%;
    border-bottom: 1px solid#dadada;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2vw 15vw;
    padding-left: 18.3vw;
    /* padding-top: 6vw; */
}

.bottom-div{
    margin-top: 2vw;
}

.bottom-div h5{
    overflow: hidden;
    margin-bottom: 0.4vw;
}

.bottom-div h5 span{
    font-size: 0.7vw;
    display: inline-block;
    font-weight: 500;
    opacity: 0;
}

nav button{
    background-color: #0ba34e;
    display: flex;
    align-items: center;
    padding: 14px 20px;
    border-radius: 50px;
    border: none;
    font-size: 0.85vw;
    text-transform: uppercase;
    font-weight: 700;
}

nav button svg{
    height: 0.85vw;
    margin-left: 1.6vw;
}


#page1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#page1 h1{
    font-size: 8.5vw;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 8.5vw;
}

#page1 h1 svg{
    height: 6vw;
    width: 6vw;
    background-color: #0ba34e;
    border-radius: 50%;
}

#page1 p{
    text-align: center;
    font-weight: 400;
    margin-top: 3vh;
}

#page1-something{
    display: flex;
    align-items: center;
    justify-content: center;
}

#page1-something h4{
    font-weight: 400;
    font-size: 1vw;
    text-transform: lowercase;
    margin-top: 0.5vw;
    padding: 5px 12px;
    border: 1px solid #a5a5a5;
    border-radius: 50px;
}

#page1-something h4:nth-last-child(2){
    border: none;
    padding: 2px;
}




#page2{
    height: 100vh;
    width: 100%;
    background-color: #111;
}